<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create News</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header id="header">
        <div class="logo">
            <a href="/">Global Warming News</a>
        </div>
        <a class="q" href="/plus">
            <img src="{{ url_for('static', filename='img/plus.png') }}" alt="Добавить" width="32" height="32">
        </a>
    </header>
    <main id="content">
        {% for el in news%}
        <article class="news-card">
            <a class="news__link" href="{{el.link}}">
                <h2>{{el.title}}</h2>
                <p>{{el.text}}</p>
            </a>
        </article>
        {% endfor %}
    </main>
    <a class="qvis" href="/qvis">Пройти тестик</a>
    <footer id="footer">
        <p>&copy; 2025 Global Warming News Alex</p>
    </footer>
</body>
</html>
